<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chris Daw</title>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="static/images/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="static/images/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="static/images/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="static/images/favicon-144.png">
  <meta name="msapplication-config" content="static/images/browserconfig.xml">

  <!-- Fix media query issue with Chrome -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Font Family -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <!-- Style Sheet -->
  <link href="static/style.css" type="text/css" rel="stylesheet">

  <!-- JQuery and JS -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="static/sticky-kit.js"></script>
</head>

<body>

<!--Menu Bar -->
  <nav class="menu" id="menu">
    <ul>
      <li class="desktop"><a href="{{ url_for('index') }}">Chris Daw</a></li>
      <li class="mobile"><a href="{{ url_for('index') }}">Chris</a></li>
      <li><a class="active" href="#">About</a></li>
      <li class="desktop"><a href="{{ url_for('cs') }}">Computer Science</a></li>
      <li class="mobile"><a href="{{ url_for('cs') }}">CS</a></li>
      <!--<li><a href="{{ url_for('theatre') }}">Theatre</a></li>-->
      <li class="last desktop"><a href="mailto:chris@chrisdaw.net">Contact Me</a></li>
      <li class="last mobile"><a href="mailto:chris@chrisdaw.net"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </nav>

  <div class="about-wrapper">
    <!-- Sidebar -->
    <nav class="aboutnav">
        <ul class="aboutnav-content">
          <li><a href="#summary">Summary <i class="fa fa-arrow-right"></i></a></li>
          <li><a href="#edu">Education <i class="fa fa-arrow-right"></i></a></li>
          <li><a href="#work-exp">Experience <i class="fa fa-arrow-right"></i></a></li>
          <li><a href="#hobbies">Hobbies <i class="fa fa-arrow-right"></i></a></li>
          <li><a href="#menu">Top <i class="fa fa-arrow-up"></i></a></li>
        </ul>
    </nav>
    <!-- Stick the sidebar to the screen  -->
    <script>
    $(".aboutnav-content").stick_in_parent({
      parent: ".aboutnav",
      bottoming: false,
    });
    </script>

    <script>
    /* Scroll smoothly to anchor credit: Joseph Silber on Stack Overflow question 7717527 */
    $(".aboutnav-content li a").on('click',function(e) {
      var url = e.target.href;
      var hash = url.substring(url.indexOf("#")+1);
      $('html, body').animate({
        scrollTop: $('#'+hash).offset().top
      }, 500);
      return false;
    });
    </script>

    <!-- Fun little script that may or may not continue to be used
    <script>
    $(window).scroll(function () {
      $('.aboutnav-content').css({
        'top' : ($(this).scrollTop()/15)+"px"
      });
    });
    </script>
  -->

    <!-- Page Contents -->

    <div class="about" id="summary">

      <div class="summary">
        <div class="sum-contents">
          <h1>Summary</h1>
          <div class="row">
            <div>
              <h3>Chris Daw</h3>
              <h4>Student, WWU</h4>
            </div>
            <div class="ten columns">
              <h4>I am originally from Palo Alto in the San Francisco Bay Area, California.
                I am currently a computer science and physics student at Western Washington University.
                I love technology and creating projects with it.
                The only limitation to what technology can do is our imaginations.
              </h4>
              <p>If you would like a less colorful representation of this page, you can download my resume:</p>
              <div class="resume">
                <a href="static/files/2017ChrisDawResume.pdf" target="_blank" class="downloadbutton">Resume!</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="edu" id="edu">
        <div class="edu-contents">
          <h1>Education</h1>
          <div class="row">
            <div class="one-third column">
              <div class="edu-summary">
                <h3>Western Washington University</h3>
                <h5>Expected Graduation 2020,</h5>
                <h5>Computer Science Major,</h5>
                <h5>Honors Program,</h5>
                <h5>Physics Minor,</h5>
                <h5>Honor Roll.</h5>
              </div>
            </div>
            <div class="one-third column">
              <div class="edu-courses">
                <h3>Coursework </h3>
                <a href="https://catalog.wwu.edu/search_advanced.php" target="_blank">
                  <p><i>Catalog for reference</i></p></a>
                <h5>Computer Science</h5>
                <ul>
                  <li>CSCI 145 - Linear Data Structures</li>
                  <li>CSCI 301 - Formal Language and Functional Programming</li>
                </ul>
                <h5>Math</h5>
                <ul>
                  <li>MATH 125 - Calculus and Analytic Geometry II</li>
                  <li>MATH 224 - Multivariable Calculus and Geometry I</li>
                </ul>
                <h5>Physics</h5>
                <ul>
                  <li>PHYS 163 - Physics with Calculus III</li>
                  <li>PHYS 220 - Physics with Calculus IV</li>
                </ul>
                <h5>Other</h5>
                <ul>
                  <li>THTR 313 - Beginning Lighting Design</li>
                  <li>HNRS 101, 103-105 - Honors Freshman Sequence</li>
                </ul>
              </div>
            </div>
            <div class="one-third column">
              <div class="edu-extra">
                <h3>Extracurricular</h3>
                <h5>Music</h5>
                <ul>
                  <li>Rebel Clef A Cappella</li>
                  <li>University Tenor Bass Choir</li>
                </ul>
                <h5>Theatre</h5>
                <ul>
                  <li>Lighting Designer for two shows at Western.  Continuing my four years in technical theatre work from high school.
                    <!--More info on <a href="theatre">the Theatre page.</a>-->
                    </li>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="work-exp" id="work-exp">
        <div class="work-contents">
          <h1>Work Experience</h1>
          <div class="row">
            <div class="one-third column">
              <div class="work-cs">
                <h3>WWU Computer Science</h3>
                <h3>CS Support Group</h3>
                <h5>Bellingham, WA</h5>
                <h5>May 2017 - Present</h5>
                <p>Experience in a DevOps environment for Western Washington University’s Computer Science Department.</p>
                <p>Develop and maintain utility software in a variety of languages used by the CS Support team.</p>
                <p>Broaden familiarity with networking, project collaboration, and general computer knowledge.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="work-theatre">
                <h3>Palo Alto Children's Theatre</h3>
                <h3>Production Intern</h3>
                <h5>Palo Alto, CA</h5>
                <h5>June - August 2016</h5>
                <p>Designed lighting and taught kids how to use the equipment for multiple shows.</p>
                <p>Developed communication skills through coordination between departments.</p>
              </div>
            </div>
            <div class="one-third column">
              <div class="work-stanford">
                <h3>Stanford Electrical Engineering</h3>
                <h3>Summer Intern</h3>
                <h5>Stanford, CA</h5>
                <h5>June - August 2015</h5>
                <p>Developed a user interface in Java and C for a genomic data compression algorithm.</p>
                <p>Worked independently to aid Mikel Hernaez, a post-doctoral researcher.</p>
                <p>Learned how to implement C programs in a Java context including interfacing through a network.</p>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hobbies" id="hobbies">
        <div class="hobby-contents">
          <h1>Hobbies</h1>
          <div class="row">
            <div class="five columns">
              <div class="photography">

                <div>
                <h3>Photography and Birding</h3>
                <a href="https://www.instagram.com/chrisdawww/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.flickr.com/people/51503874@N05/" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a>
                </div>
                <!-- SnapWidget -->
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/407928" class="snapwidget-widget" ></iframe>
              </div>
            </div>
            <div class="six columns birding">
              <p>In 2014 I got a DSLR camera and immediately started taking pictures.
                A little later, my girlfriend got me started with bird watching (lovingly referred to as birding).
                These two hobbies mix very well together as is shown by many of the pictures in this slideshow.
                The quick, mobile nature of the subjects make it challinging yet very rewarding.
                <br>
                If you are have an ebird account and are interested in my checklists,
                <a href="https://ebird.org/ebird/profile/NjAwODk5/">
                  here is a link to my ebird profile.</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="three columns tinkering">
              <div>
                <h3>Tinkering</h3>
                <img src="https://farm5.staticflickr.com/4242/35045893194_eba0fe4a80.jpg">
              </div>
            </div>
            <div class="five columns yoyo">
              <p>I have always enjoyed making neat, tangible things.
                Pictured here are an LED sign I made the summer before my freshman year at WWU and a question mark block from Mario that I made for a show at the Palo Alto Children's Theater.
              <p>Since elementary school I have had a fascination for yo-yos and puzzles like rubik's cubes.
                I have a collection of about a dozen of each.
                Here is a <a href="https://youtu.be/GkP_7fqnFZ0">youtube video</a> I made for a contest entry on Reddit with a few yo-yo tricks.

            </div>
            <div class="four columns">
              <div class="fluidWrapper">
                <iframe src="https://www.youtube.com/embed/GkP_7fqnFZ0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
