<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chris Daw</title>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="static/images/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="static/images/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="static/images/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="static/images/favicon-144.png">
  <meta name="msapplication-config" content="static/images/browserconfig.xml">

  <!-- Fix media query issue with Chrome -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Font Family -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <!-- Style Sheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="static/style.css" type="text/css" rel="stylesheet">
</head>

<body>

<!--Menu Bar -->
<div class="wrapper">
<nav class="menu">
  <ul>
    <li class="desktop"><a href="{{ url_for('index') }}">Chris Daw</a></li>
    <li class="mobile"><a href="{{ url_for('index') }}">Chris</a></li>
    <li class="dropdown">
      <a href="about" class="dropbutton">About</a>
      <div class="about-content">
        <a href="about">Summary</a>
        <a href="about#edu">Education</a>
        <a href="about#work-exp">Experience</a>
        <a href="about#hobbies">Hobbies</a>
        <a href="about#awards">Accomplishments</a>
      </div></li>
    <li class="active desktop"><a href="cs">Computer Science</a></li>
    <li class="active mobile"><a href="cs">CS</a></li>
    <li><a href="theatre">Theatre</a></li>
    <li class="last desktop"><a href="mailto:chris@chrisdaw.net">Contact Me</a></li>
    <li class="last mobile"><a href="mailto:chris@chrisdaw.net"><i class="fa fa-envelope"></i></a></li>
  </ul>
</nav>

<!-- Page Header -->
<section class="csheader">
  <div class="container">
    <div class="row">

      <div class="twelve columns csheader">
        <h1>Computer Science</h1>
        <h4><a href="https://github.com/ChristopherDaw" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum tortor ac elit consequat lobortis eu quis nulla. Sed tempus dui eu metus imperdiet, eu efficitur ex rhoncus. Proin tempus erat odio. Mauris viverra mi sit amet metus gravida maximus. Suspendisse et lorem sem. Aliquam tristique odio leo, nec eleifend neque ornare et. Nunc faucibus velit urna, ac lacinia felis hendrerit ac. Nulla id magna tristique.</p>

      </div>
    </div>
  </div>
</section>
<section class="projs">

  <h1>Projects</h1>
    <div class="row">
      <a href="https://github.com/ChristopherDaw/fbMessageAnalyzer" title="Facebook Message Analyzer" target="_blank">
        <div class="fill33">
          <h3>Messenger Analyzer</h3>
          <h4>2015</h4>
          <p>AP Computer Science project from high school to read, parse, and analyze personal facebook messenger usage. Between then and now, Facebook has changed the way they format their data so this program is only works for data made before then.</p>
        </div>
      </a>
      <a href="https://github.com/ChristopherDaw/chrisdaw.net" title="Website" target="_blank">
        <div class="fill33">
          <h3>This Website</h3>
          <h4>July 2017 - Present</h4>
          <p>A project I started both to have a portfolio website and to learn how to make a website! I use a Flask framework and wrote the html and CSS by hand.</p>
        </div>
      </a>
      <a href="https://github.com/ChristopherDaw/" title="Github" target="_blank">
        <div class="fill33">
          <h3>More...</h3>
          <h4>2012 - Present</h4>
          <p>A collection of projects I have tracked with Git.  This is just a curated selection of projects I am most proud of.</p>
        </div>
      </a>
    </div>

</section>
</div>
</body>
</html>
