<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chris Daw</title>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="static/images/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="static/images/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="static/images/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="static/images/favicon-144.png">
  <meta name="msapplication-config" content="static/images/browserconfig.xml">

  <!-- Fix media query issue with Chrome -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Font Family -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <!-- Style Sheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="static/style.css" type="text/css" rel="stylesheet">
</head>

<body>

<!--Menu Bar -->
<div class="wrapper">
<nav class="menu">
  <ul>
    <li class="desktop"><a href="{{ url_for('index') }}">Chris Daw</a></li>
    <li class="mobile"><a href="{{ url_for('index') }}">Chris</a></li>
    <li class="dropdown">
      <a href="about" class="dropbutton">About</a>
      <div class="about-content">
        <a href="about">Summary</a>
        <a href="about#edu">Education</a>
        <a href="about#work-exp">Experience</a>
        <a href="about#hobbies">Hobbies</a>
        <a href="about#awards">Accomplishments</a>
      </div></li>
    <li class="desktop"><a class="active" href="cs">Computer Science</a></li>
    <li class="mobile"><a class="active" href="cs">CS</a></li>
    <!--<li><a href="theatre">Theatre</a></li>-->
    <li class="last desktop"><a href="mailto:chris@chrisdaw.net">Contact Me</a></li>
    <li class="last mobile"><a href="mailto:chris@chrisdaw.net"><i class="fa fa-envelope"></i></a></li>
  </ul>
</nav>

<!-- Page Header -->
<section class="csheader">
  <div class="container">
    <div class="row">

      <div class="twelve columns">
        <h1>Computer Science <a href="https://github.com/ChristopherDaw" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></h1>
        <p>I have been interested in programming since 2011 when I found guides to create small additions to a game called Minecraft.
        Ever since then I always think of ways to automate or create things using code.
        Now I am a senior honors Computer Science student at Western Washington University working for our department's CS Support Group.</p>

      </div>
    </div>
  </div>
</section>

<section class="projs">

  <h1>Projects</h1>
  <h5><i>click any to go to its github page</i></h5><br>
  <div class="row">
    <a class="fill33" href="https://github.com/ChristopherDaw/slack-teamdict" title="Slack Team Dict" target="_blank">

        <h3>Slack Team Dictionary</h3>
        <h4>October-December 2018</h4>
        <p>A Slack App acting as a dictionary with key-value pairs from a channel in a workspace including a web based mass data entry portal.</p>

    </a>
    <a class="fill33" href="https://github.com/ChristopherDaw/chrisdaw.net" title="Website" target="_blank">

        <h3>This Website</h3>
        <h4>July 2017 - Present</h4>
        <p>A project I started both to have a portfolio website and to learn how to make a website! I use a Flask framework and wrote the html and CSS by hand.</p>

    </a>
    <a class="fill33" href="static/files/EarthquakePoster.pdf" title="Earthquake" target="_blank">

        <h3>Earthquake Prediction Neural Network</h3>
        <h4>April 2019 - June 2019</h4>
        <p>In CS 597J at WWU I developed a neural network in a project group to identify and predict when labratory earthquakes would occur using CNN and LSTM networks.</p>

    </a>
  </div>
  <div class="row">
    <a class="fill33" href="https://github.com/ChristopherDaw/TinyNyan" title="Tiny Nyan" target="_blank">

        <h3>Tiny Nyan</h3>
        <h4>August 2017</h4>
        <p>A controllable recreation of Nyan Cat for TinyCircuits' Tiny Arcade machine. A test in making pixel graphics and implementing sprite movement mechanics.</p>

    </a>
    <a class="fill33" href="https://github.com/ChristopherDaw/fbMessageAnalyzer" title="Facebook Message Analyzer" target="_blank">

        <h3>Messenger Analyzer</h3>
        <h4>2015</h4>
        <p>AP Computer Science project from high school to read, parse, and analyze personal facebook messenger usage.</p>

    </a>
    <a class="fill33" href="https://github.com/ChristopherDaw/" title="Github" target="_blank">

        <h3>More...</h3>
        <h4>2012 - Present</h4>
        <p>A collection of projects I have tracked with Git.  This is just a curated selection of projects I am most proud of.</p>

    </a>
  </div>


</section>
</div>

</body>
</html>
