<!DOCTYPE html>
<html lang="en">

<head>
  <title>Chris Daw</title>

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="static/images/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="static/images/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="static/images/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="static/images/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="static/images/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="static/images/favicon-144.png">
  <meta name="msapplication-config" content="static/images/browserconfig.xml">

  <!-- Fix media query issue with Chrome -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Font Family -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

  <!-- Style Sheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="static/style.css" type="text/css" rel="stylesheet">
</head>

<body>

<!--Menu Bar -->
<div class="wrapper">
  <nav class="menu">
    <ul>
      <li class="desktop"><a class="active" href="#">Chris Daw</a></li>
      <li class="mobile"><a class="active" href="#">Chris</a></li>
      <li class="dropdown">
        <a href="about" class="dropbutton">About</a>
        <div class="about-content">
          <a href="about">Summary</a>
          <a href="about#edu">Education</a>
          <a href="about#work-exp">Experience</a>
          <a href="about#hobbies">Hobbies</a>
        </div></li>
      <li class="desktop"><a href="{{ url_for('cs') }}">Computer Science</a></li>
      <li class="mobile"><a href="{{ url_for('cs') }}">CS</a></li>
      <!--<li><a href="{{ url_for('theatre') }}">Theatre</a></li>-->
      <li class="last desktop"><a href="mailto:chris@chrisdaw.net">Contact Me</a></li>
      <li class="last mobile"><a href="mailto:chris@chrisdaw.net"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </nav>

<!-- Page Header -->
<section class="header">
  <div class="container">
    <div class="row">
      <div class="five columns">
        <img src="https://farm5.staticflickr.com/4561/27279646489_05aba76e86_k.jpg" alt="Picture of me.">
      </div>
      <div class="six columns">
        <h1>Chris Daw</h1>
        <h4>Western Washington University</h4>
        <p>Programmer,<br>Singer,<br>Nerd.</p>
        <div class="resume">
          <a href="static/files/ChristopherDawResume.pdf" target="_blank" class="downloadbutton">Resume!</a>
        </div>

        <!-- Social Media Links -->
        <a href="https://github.com/ChristopherDaw" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/chrisdawww/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="https://www.instagram.com/chrisdawww/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.flickr.com/people/51503874@N05/" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a>
      </div>
    </div>
  </div>
</section>
</div>
</body>
</html>
